biv{
color:red;
text-align: center;
border-radius: 5px;
background:url("http://2.bp.blogspot.com/-LA4ClqrZH2M/UPEkY676ZRI/AAAAAAAAEYA/vF3-OEgd3-0/s1600/swami+vivekanand+hd+images.jpg");
display:inline;
font-size:28px;
padding:19px;
border:1px solid orange;
margin-top:-156px;
margin-right: 12px;
}
img{
width:500px;
height:650px;
margin-top:40px;
border-radius: 5px;
	
}
#myFiv{
text-align: center;
width: 500px;
height: 1230px;
padding:80px;
margin: 280px;
margin-top: -55px;
margin-bottom: -50px;
background-color: darkorange;
}
a:hover{
	color:red;
}
body{
  background:url("https://scontent-b.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10456054_1426402134311948_3964696853479846118_n.jpg?oh=c13e6f8314b274e7a48773bd613fcf46&oe=54A27461");
background-size:cover;
}
canvas{
margin:-300px;
margin-top:-5px;
margin-bottom:-160px;
}
footer{
	text-align: center;
} 
